
/* 
    You can write your own styles here.
*/
body{
    font-size: 30px;
  
}
 .boton{
  font-family: cursive;
margin: 10px;
color: aqua;
border-radius: 40%; 
border-color: aqua;

 }
 .digitos{
    color: aqua;
    font-size: 8rem;
 }